<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ###############################################################################
 # Copyright (c) 2005-2012 WalWare/StatET-Project (www.walware.de/goto/statet)
 # and others. All rights reserved. This program and the accompanying materials
 # are made available under the terms of the Eclipse Public License v1.0
 # which accompanies this distribution, and is available at
 # http://www.eclipse.org/legal/epl-v10.html
 # 
 # Contributors:
 #     Stephan Wahlbrink - initial API and implementation
 ###############################################################################
-->

<plugin>
   
   <!-- pagebook views -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.walware.ecommons.base.commands.NewPage"
            categoryId="org.eclipse.ui.category.views"
            name="%commands_NewPage_name"
            description="%commands_NewPage_description">
      </command>
      <command
            id="de.walware.ecommons.base.commands.ClosePage"
            categoryId="org.eclipse.ui.category.views"
            name="%commands_ClosePage_name"
            description="%commands_ClosePage_description">
      </command>
      <command
            id="de.walware.ecommons.base.commands.CloseAllPages"
            categoryId="org.eclipse.ui.category.views"
            name="%commands_CloseAllPages_name"
            description="%commands_CloseAllPages_description">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.walware.ecommons.base.commands.NewPage"
            icon="icons/loctool_16/new_page.gif">
      </image>
      <image
            commandId="de.walware.ecommons.base.commands.ClosePage"
            icon="icons/loctool_16/close_page.gif"
            disabledIcon="icons/loctool_16_d/close_page.gif">
      </image>
      <image
            commandId="de.walware.ecommons.base.commands.CloseAllPages"
            icon="icons/loctool_16/close_all_pages.gif"
            disabledIcon="icons/loctool_16_d/close_all_pages.gif">
      </image>
      <image
            commandId="org.eclipse.ui.navigate.back"
            icon="icons/loctool_16/nav-backward.png"
            disabledIcon="icons/loctool_16_d/nav-backward.png">
      </image>
      <image
            commandId="org.eclipse.ui.navigate.forward"
            icon="icons/loctool_16/nav-forward.png"
            disabledIcon="icons/loctool_16_d/nav-forward.png">
      </image>
   </extension>
   
   <!-- breadcrumbs -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.walware.ecommons.breadcrumb.contexts.WithBreadcrumbContext"
            name="%contexts_WithBreadcrumbContext_name"
            description="%contexts_WithBreadcrumbContext_description">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M2+M3+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.breadcrumb.contexts.WithBreadcrumbContext"
            commandId="org.eclipse.jdt.ui.edit.text.java.gotoBreadcrumb">
      </key>
      <key
            sequence="M2+M3+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            contextId="de.walware.ecommons.breadcrumb.contexts.WithBreadcrumbContext"
            commandId="">
      </key>
      <key
            sequence="COMMAND+ALT+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            contextId="de.walware.ecommons.breadcrumb.contexts.WithBreadcrumbContext"
            commandId="org.eclipse.jdt.ui.edit.text.java.gotoBreadcrumb">
      </key>
   </extension>
   
   <!-- browser -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.walware.ecommons.base.commands.GoToHome"
            categoryId="org.eclipse.ui.category.navigate"
            name="%commands_GoToHome_name"
            description="%commands_GoToHome_description">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%contexts_PageViewerContext_description"
            id="de.walware.ecommons.base.contexts.PageViewerContext"
            name="%contexts_PageViewerContext_name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
<!--
      <key
            sequence="M3+ARROW_LEFT"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="org.eclipse.ui.navigate.back">
      </key>
      <key
            sequence="M3+ARROW_LEFT"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="">
      </key>
      <key
            sequence="M3+ARROW_RIGHT"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="org.eclipse.ui.navigate.forward">
      </key>
      <key
            sequence="M3+ARROW_RIGHT"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="">
      </key>
-->
      <key
            sequence="M3+HOME"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="de.walware.ecommons.base.commands.GoToHome">
      </key>
      <key
            sequence="M1+T"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="de.walware.ecommons.base.commands.NewPage">
      </key>
      <key
            sequence="M1+F4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="de.walware.ecommons.base.commands.ClosePage">
      </key>
      <key
            sequence="M1+W"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="de.walware.ecommons.base.commands.ClosePage">
      </key>
      <key
            sequence="M1+M2+F4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="de.walware.ecommons.base.commands.CloseAllPages">
      </key>
      <key
            sequence="M1+M2+W"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="de.walware.ecommons.base.commands.CloseAllPages">
      </key>
      <key
            sequence="M1+F4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="">
      </key>
      <key
            sequence="M1+M2+F4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="carbon"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="">
      </key>
      <key
            sequence="M1+F4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="gtk"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="">
      </key>
      <key
            sequence="M1+M2+F4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            platform="gtk"
            contextId="de.walware.ecommons.base.contexts.PageViewerContext"
            commandId="">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.walware.ecommons.base.commands.ExpandElements"
            name="%commands_ExpandElements_name"
            description="%commands_ExpandElements_description">
         <commandParameter
               id="type"
               name="%commands_ExpandElements_Type_name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   
</plugin>
