<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="all">
	<locations>
		<location includeAllPlatforms="false" includeMode="planner" includeConfigurePhase="false" includeSource="false"
				type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
			<unit id="org.eclipse.platform.feature.group"
					version="4.2.1.v20130118-173121-9MF7GHYdG0B5kx4E_SkfZV-1mNjVATf67ZAb7"/>
		</location>
	</locations>
</target>
